
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        <ul class="list-inline list-social">
            {% for network in site.social %}
            <li class="social-{{ network.title }}">
                <a href="{{ network.url }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
            </li>
        {% endfor %}
        <li>
          <a href="www.instagram.com/maakan_app" target="_blank" class="btn-social btn-outline instagram"><i class="fa fa-fw fa-instagram"></i></a>
        </li>
        </ul>


        <!-- <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul> -->
    </div>
</section>
<footer>
    <div class="container">
        <p> Maakan Enterprise Ltd. &copy; Registered in England and Wales No. 10664454 </p>
        <p><i class="fa fa-phone" aria-hidden="true"></i>  0333 733 8068 | <i class="fa fa-envelope" aria-hidden="true"></i>  info@maakan.co.uk</p>

        <br>
        <ul class="list-inline">
            <li>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <a href="#">Terms and Conditions</a>
            </li>
            <li>
                <a href="/careers">Careers</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>
    </div>
</footer>
