
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Features</h2>
                        <p class="text-muted">• Enjoy dining out at your local restaurants and cafes at a discounted price by downloading the Maakan app.</p><br>
                        <p class="text-muted">• No longer will you have to purchase deals in advance. Instead a discount is applied to the bill once you've finished enjoying your meal.</p><br>
                        <p class="text-muted">• With many local restaurants and cafes now offering discounted deals on a one-off & permanent basis, isn't it time to <b>#feedyourappetite.<b></p><br>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6 portrait black">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/Screenshot.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class='fa fa-map-marker faa-pulse animated fa-4x'></i>
                                    <h3>Browse through the many deals available on the Maakan App</h3>
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class='fa fa-clock-o faa-pulse animated fa-4x'></i></i>
                                    <h3>Pick a deal that fancies your appetite and time</h3>
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class='fa fa-check faa-pulse animated fa-4x'></i>
                                    <h3>Check in to the restaurant upon arrival</h3>
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class='fa fa-heart faa-pulse animated fa-4x'></i>
                                    <h3>Enjoy your meal!</h3>
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
    </section>
