
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Features</h2>
                        <p class="text-muted">Find your new favourite places to eat with your friends!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6 portrait black">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/Screenshot.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class='fa fa-map-marker faa-pulse animated fa-4x'></i>
                                    <h3>Explore all deals in your area</h3>
                                    <p class="text-muted">Browse through the many deals available on the Maakan App</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class='fa fa-clock-o faa-pulse animated fa-4x'></i></i>
                                    <h3>Pick any deal, anytime</h3>
                                    <p class="text-muted">Pick a deal that fancies your appetite and time</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class='fa fa-check faa-pulse animated fa-4x'></i>
                                    <h3>Check In on Arrival</h3>
                                    <p class="text-muted">Check in to the restaurant upon arrival</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class='fa fa-heart faa-pulse animated fa-4x'></i>
                                    <h3>Enjoy your meal!</h3>
                                    <p class="text-muted">Enjoy your meal!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
    </section>
